
#root {
  /* max-width: 100000px; */
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;
 width: 100%;
  height: 100%;



}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

#button1{

  height:60px;
  width:130px;
  background-color:#FF7B7B;

}
#button1:hover{
  background-color:#C62E2E;
  color: black;

}

#new_homepage{
  margin:40px;

}

@media screen and (max-width: 1030px) {
/*   
  #root{
    margin-right:-40px;
  } */
}
/* 
#navbar{


   margin: 0 auto 0 auto;
  padding: 0;
  width: 100%;
  min-width: 100%;
  border-color:red;
   border-width:2px;


} */
#InputGroup{
  padding-left:450px;
  padding-right:450px;
  height:60;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: auto;
}


/* HOME PAGE  */


#button2{

  height:150px;
  width:300px;
  background-color:#FF7B7B;

 margin-left: 40px;
 margin-right: 40px;
 margin-top: 20px;
 
 color: white;
}
#button2:hover{
  background-color:#C62E2E;
  color: black;

}


@media screen and (max-width: 1030px) {
  /* .navbar{
    margin-right: -190px;
  
  } */

}


@media screen and (max-width: 537px) {
  /* #navbar_title{
    font-size: 10px;
  } */
}


@media screen and (max-width: 768px) {
  
   #navbar_title{ 
    font-size: 20px;
  } 
}
@media screen and (max-width: 417px) {
  
  #navbar_title{
    font-size: 15px;
  }
}

.dropdown-menu {
  top: 280px;
}
@media (max-width: 992px) {
  .dropdown-menu {
    top: 320px;
  }
}
/* @media (max-width: 965px) {
  .dropdown-menu {
    width: 320px;
  }
} */

@media (max-width: 875px) {
  .dropdown-menu {
    top: 265px;
  }
}
@media (max-width: 535px) {
  .dropdown-menu {
    top: 300px;
  }
}
@media (max-width: 327px) {
  .dropdown-menu {
    top: 325px;
  }
}
@media (max-width: 275px) {
  .dropdown-menu {
    top: 290px;
  }
}

 #my_buttons{
  padding-top:100px
 }
@media screen and (max-width: 949px) {
  
  #my_buttons{

/* padding-left: 390px; */
  }
}
@media screen and (max-width: 949px) {
  #my_buttons {
    padding-left: 10px;
  /* margin-bottom: 10px; }   */
  }}
#navbar_title{


  color: white;
}


/* #main-buttons{
  padding: 100px
} */
/* #h1-edit{ */
  /* color: black; */
  /* font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: auto;
} */


/* Patient PAGE  */
.icon-bottom-right {
  position: fixed;
bottom: 10px;
  right: 20px;
  z-index: 1000;
}
#button3{

  margin-top: 10px;
  background-color:#FF7B7B;

}
#button3:hover{
  background-color:#C62E2E;
  color: black;

}



#div_1{
 background-color:#AFDDFF;
 width:100%;
 height:100%
}
/************ ML USER PAGE **********/

/* From Uiverse.io by csemszepp */
/* From Uiverse.io by ariba_9087 */
/* From Uiverse.io by elijahgummer */
/* .container3 {
  width: 100%;
  height: 100%;
  background: lightblue;
  position: relative;
  overflow: hidden;
}

.container3::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, #3498db 10%, transparent 20%),
    radial-gradient(circle, transparent 10%, #3498db 20%);
  background-size: 30px 30px; /* Adjust the size of the pattern */
  /* animation: moveBackground 8s linear infinite; /* Adjust the animation duration and timing function */

/* 
@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20%, 20%);
  }
} */ 

